/* eslint no-use-before-define: 0 */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");
@layer components {
  #root {
    font-family: "Poppins";
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    @apply bg-home;
  }
  .link {
    @apply text-white px-8 text-base;
  }
  .active {
    width: 30%;
    /* background-color: #fff; */
    margin-inline: auto;
    @apply text-secondary border-b-2 border-b-secondary;
  }
}
.btn-shadow {
  box-shadow: 0px 12px 21px 4px rgba(68, 97, 242, 0.15);
}
.hue-container {
  position: absolute;
  width: 25% !important;
  height: 20% !important;
  top: 15rem;
  left: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.yellow {
  column-span: 1;
  grid-row-start: 1;
  grid-column-start: 1;
  width: 200px;
  height: 200px;

  background: #dda82a;
  filter: blur(158.5px);
}
.blue {
  width: 200px;
  height: 200px;
  column-span: 1;
  grid-row-start: 2;
  grid-column-start: 2;
  background: #4461f2;
  opacity: 0.6;
  filter: blur(158.5px);
}
.line-element {
  color: #c7c7c7;
  display: flex;
  flex-direction: row;
}

.line-element:before,
.line-element:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #c7c7c7;
  margin: auto;
}
